<div class="form-card">
  <h1>Modifier la Tâche</h1>
    <%= simple_form_for @task do |f| %>
      <%= f.input :title, label: 'Titre' %>
      <%= f.input :details, label: 'Description' %>
      <%= f.input :completed, label: "terminée ?", as: :boolean, wrapper: false%>
      <%= f.submit "Mettre a jour cette tâche" %>
    <% end %>
  <h4><%= link_to "◀️ Retourner à la liste destâches", tasks_path %></h4>
</div>
