<div class="form-card">
  <h1>Nouvelle tâche</h1>
  <%= simple_form_for @task do |f| %>
    <%= f.input :title, label: "Titre" %>
    <%= f.input :details, label: "Description" %>
    <%= f.submit "Ajouter une nouvelle tâche" %>
  <% end %>
  <h4><%= link_to "◀️ Retourner à la liste des tâches", tasks_path %></h4>
</div>
