<div class="container">
  <h1>Create a new task</h1>
  <%= simple_form_for @task do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.submit "create new task" %>
  <% end %>
  <%= link_to "Back to current task", tasks_path %>
</div>
