<div class="container">
  <div id="flex">
    <h1><%= @task.title %></h1>
    <%= link_to "✏️ Modifier cette tâche", edit_task_path, class: "btn-modif" %>
  </div>

  <h2 class="sts-bg"><%= @task.details %></h1>
  <h3><%= render partial: 'status', locals: {task: @task} %>
    <% if @task.completed %>
      <span class="status-green">Cette tâche est terminée.</span>
    <% else %>
      <span class="status-red">Cette tâche n'est pas terminée.</span>
      <% end %>
  </h2>
  <hr>
  <h4><%= link_to "◀️ Retourner à la liste des tâches", tasks_path %></h4>
</div>
